<!-- {% load static %} -->
<!-- <script src="{% static 'editor2.js' %}"></script> -->
<!-- <script src="{% static 'django_admin_json_editor/editor2.js' %}"></script> -->


<div id="{{ name }}_editor"></div>

<script>
    var name2 = {{ name }}
    var editor_options2 = {{ editor_options }}
    var sceditor2 = {{ sceditor }}
    var data2 = {{ data2 }}
    {% include "editor2.js" with name=name2 editor_options=editor_options2 sceditor=sceditor2 data=data2 %}
</script>

<!-- <script>
    {% include "editor2.js" with name={{ name }} editor_options={{ editor_options }} sceditor={{ sceditor }} data={{ data }} %}
</script> -->

<textarea cols="40" id="id_{{ name }}" name="{{ name }}" rows="10" required=""
          style="display: none">{{ data|safe }}</textarea>
