<div id="{{ name }}_editor"></div>

<script>
    var container = document.getElementById("{{ name }}_editor");
    var options = {{ editor_options|safe }};
    var {{ name }}_editor = new JSONEditor(container, options);
    JSONEditor.plugins.sceditor.emoticonsEnabled = {{ sceditor }};
    {{ name }}_editor.on('change', function () {
        var errors = {{ name }}_editor.validate();
        if (errors.length) {
            console.log(errors);
        }
        else {
            var json = {{ name }}_editor.getValue();
            // Maybe add autoescape here? I don't think that will fix /script>
            document.getElementById("id_{{ name }}").value = JSON.stringify(json);
        }
    });
    // I think the bug might be right here
    {% autoescape on %}\
    {% if data %}
        var json = {{ data|safe }};
        // console.log("EDITOR.HTML - json2")
        // console.log(json)
        // So this thing right here is a <script> and /script is getting interpreted as
        {{ name }}_editor.setValue(json);
    {% endif %}
    {% endautoescape %}
</script>

<textarea cols="40" id="id_{{ name }}" name="{{ name }}" rows="10" required=""
          style="display: none">{{ data|safe }}</textarea>
